<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jhomel Ignacio Vue CV  </title>
  <link rel="icon" type="image/png" href="assets/images/icon.png">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/styles.css">
  <script src="https://kit.fontawesome.com/f8208da359.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Poppins:wght@200;500&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/f8208da359.js" crossorigin="anonymous"></script>

</head>
<style>

</style>
<body >
  <div id="app">
    <div :class="`${darkmode ? 'dark' : 'light'}`">
      <!-- Home page -->

      <transition name="fade">
        <section :class="`mt-5 container m-auto  about p-5 ${current_page === 'about' ? 'fade-upward':''}`" >
          <div class="title-section text-left text-sm-center container change-section">
            <h1>ABOUT <span>ME</span></h1>
            <span class="title-bg">Resume</span>
          </div>
          <div class="grid grid-cols-2 gap-4 pt-5 mt-5 personal-information">
            <div class="__data">
                <h1 class="mb-5 pb-5">Personal Information</h1>
                <div class="grid grid-cols-2 gap-4">
                  <div v-for="item in personalData" :key="item.label">
                    <p >{{ item.label }}:
                    <span class="font-normal">{{ item.value }}</span></p>
                  </div>
                </div>
                <div class="pt-5 mt-5">
                  <button :class="`btn-main flex items-center justify-center bg-yellow}`">DOWNLOAD CV <i class="fa-solid fa-download"></i></button>    
                </div>
            </div>
            <div class="credentials p-5">
                <div class="grid grid-cols-2 gap-8 ">
                  <div class="col _cards" v-for="card in cards">
                    <a href="#" class="block max-w-sm p-6 bg-transparent border rounded-lg shadow dark:bg-gray-800 dark:border-gray-300 dark:hover:bg-gray-700">
                      <dt class="mb-2 text-3xl font-extrabold">{{card.experience}}+</dt>
                      <dd class="pt-5  flex items-center uppercase  "><span class="sm-line"></span>{{card.label1}}<br>{{card.label2}}</dd>
                    </a>
                  </div>
                  <!-- <div class="col _cards">
                    <a href="#" class="block max-w-sm p-6 bg-transparent border rounded-lg shadow dark:bg-gray-800 dark:border-gray-300 dark:hover:bg-gray-700">
                      <dt class="mb-2 text-3xl font-extrabold">97+</dt>
                      <dd class="pt-5  flex items-center uppercase  "><span class="sm-line"></span>Years of<br> experience</dd>
                    </a>
                  </div>
                  <div class="col _cards">
                    <a href="#" class="block max-w-sm p-6 bg-transparent border rounded-lg shadow dark:bg-gray-800 dark:border-gray-300 dark:hover:bg-gray-700">
                      <dt class="mb-2 text-3xl font-extrabold">81+</dt>
                      <dd class="pt-5  flex items-center uppercase  "><span class="sm-line"></span>Years of<br> experience</dd>
                    </a>
                  </div>
                  <div class="col _cards">
                    <a href="#" class="block max-w-sm p-6 bg-transparent border rounded-lg shadow dark:bg-gray-800 dark:border-gray-300 dark:hover:bg-gray-700">
                      <dt class="mb-2 text-3xl font-extrabold">51+</dt>
                      <dd class="pt-5  flex items-center uppercase  "><span class="sm-line"></span>Years of<br> experience</dd>
                    </a>
                  </div> -->
                </div>
            </div>
          </div>  
          <!-- skills -->
          <div class="skills-section">
            <h1 class="">MY SKILLS</h1>
            <div class="grid grid-cols-4 gap-4">
              <!--  -->
              <div class="box" v-for="skill in skills">
                <div class="circle" data-dots="100" :data-percent="skill.rate"></div>
                <div class="skill-label">
                  <h2>{{skill.rate}}%</h2>
                  <small>{{skill.label}}</small>
                </div>
              </div>
              <!--  -->
            </div>
          </div>
          <div class="experience-section">
            <h1 class="text-center main-heading">EXPERIENCE & EDUCATION</h1>
            <div class="grid grid-cols-2 gap-8 justify-items-center ">
              <div class="col">
                <ul>
                  <li class="pt-5">
                    <div class="__description">
                      <div class="__icon"><i class="fa-solid fa-briefcase"></i><span class="__line"></span></div>
                      <div class="status mr-1 rounded-full">2023 Present</div>
                      <h1>Lorem, ipsum dolor.</h1>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tenetur.</p>
                    </div>
                  </li>
                  <li class="pt-5">
                    <div class="__description">
                      <div class="__icon"><i class="fa-solid fa-briefcase"></i><span class="__line"></span></div>
                      <div class="status mr-1 rounded-full">2023 Present</div>
                      <h1>Lorem, ipsum dolor.</h1>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tenetur.</p>
                    </div>
                  </li>
                  <li class="pt-5">
                    <div class="__description">
                      <div class="__icon"><i class="fa-solid fa-briefcase"></i><span class="__line"></span></div>
                      <div class="status mr-1 rounded-full">2023 Present</div>
                      <h1>Lorem, ipsum dolor.</h1>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tenetur.</p>
                    </div>
                  </li>
                </ul>
              </div>
              <!--  -->
              <div class="col">
                <ul>
                  <li class="pt-5">
                    <div class="__description">
                      <div class="__icon"><i class="fa-solid fa-briefcase"></i><span class="__line"></span></div>
                      <div class="status mr-1 rounded-full">2023 Present</div>
                      <h1>Lorem, ipsum dolor.</h1>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tenetur.</p>
                    </div>
                  </li>
                  <li class="pt-5">
                    <div class="__description">
                      <div class="__icon"><i class="fa-solid fa-briefcase"></i><span class="__line"></span></div>
                      <div class="status mr-1 rounded-full">2023 Present</div>
                      <h1>Lorem, ipsum dolor.</h1>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tenetur.</p>
                    </div>
                  </li>
                  <li class="pt-5">
                    <div class="__description">
                      <div class="__icon"><i class="fa-solid fa-briefcase"></i><span class="__line"></span></div>
                      <div class="status mr-1 rounded-full">2023 Present</div>
                      <h1>Lorem, ipsum dolor.</h1>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, tenetur.</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </transition>
    </div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data:{
        modal:false,
        current_page:'about',
        
          personalData: [
            { label: 'First Name', value: 'Jhomel' },
            { label: 'Last Name', value: 'Ignacio' },
            { label: 'Age', value: '27' },
            { label: 'Gender', value: 'Male' },
            { label: 'Nationality', value: 'Filipino' },
            { label: 'Address', value: 'Barangay Care Tarlac City' },
            { label: 'Phone', value: '+639 012 379 2789' },
            { label: 'Email', value: 'jhomignacio05@gmail.com' },
            { label: 'Skype', value: 'live:.cid.bdc98ed4ff57a19a' },
            { label: 'Languages', value: 'English, Filipino' },
          ],
          skills:[
            {label:'HTML',rate:'80'},
            {label:'CSS',rate:'80'},
            {label:'PHP',rate:'70'},
            {label:'JAVASCRIPT',rate:'70'},
            {label:'WORDPRESS',rate:'80'},
            {label:'LARAVEL',rate:'70'},
            {label:'VUEJS',rate:'70'},
            {label:'SHOPIFY',rate:'70'},
          ],
          cards:[
            {label1:'Years', label2:'of Experience',experience:'3'},
            {label1:'Completed', label2:'Projects',experience:'80'},
            {label1:'Happy', label2:'Customers',experience:'5'},
            {label1:'Awards', label2:'Won',experience:'2'},
          
          ],
          darkmode:false,
          progressbarCalled:false,
      },
      computed:{
      },
      methods:{
       
        Darkmode(){
          this.darkmode = !this.darkmode;
        },
    
        Progressbar(){
          const circles = document.querySelectorAll('.circle');
          circles.forEach(elem => {
          var dots = elem.getAttribute('data-dots');
          var marked = elem.getAttribute('data-percent');
          var percent = Math.floor(dots*marked/100);
          var rotate = 360/dots;
          var points = "";
          for (let i = 0; i < dots; i++) {
            points += `<div class="points" style="--i:${i}; --rot: ${rotate}deg;"></div>`;
          }
          elem.innerHTML = points;

          const pointsmarked = elem.querySelectorAll('.points');
          for (let i = 0; i < percent; i++) {
              pointsmarked[i].classList.add('marked');
          }
        });
        }
      },
      mounted(){
        this.Progressbar();
      },
      updated(){
      
      },
    });
  </script>
</body>
</html>
