section.contact{
    margin-bottom: 100px;
    .title-section{
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        height: 100px;
        margin: auto;
        h1{
            color: #666;
            font-size: 56px;
            font-weight: 900!important;
            text-transform: uppercase;
            margin: 0;
            z-index: 2;
            @media screen and ( max-width:768px) {
              font-size: 2rem;
              line-height: 2rem  !important;
            }
            span{
                color: #ffb400;
            }
        }
    }
        .title-bg{
            opacity: 0.1;
            font-size: 110px;
            letter-spacing: 10px;
            line-height: .7;
            text-transform: uppercase;
            font-weight: 800;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%,0%);
            @media screen and ( max-width:768px) {
              font-size: 3rem;
       
            }
        }
    h1{
        font-weight: 600;
        font-size: 1.5rem;
        color: #666;
        font-family: 'Poppins', sans-serif;
    }
    p{
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
    }
    .personal-info{
        li{
            display: flex;
            gap: 20px;
            align-items: center;
            margin-top: 40px;
            i{
                color: #ffb400;
                font-size: 3rem;
            }
            h2{
                text-transform: uppercase;
                font-weight: bold;
                color: #000;
            }
        
        }
    }
    .soc-med{
        margin-top: 50px;
        ul{
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
        
            li{
                background: #eee;
                border-radius: 100%;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    padding: 10px;
                    &:hover{
                        color: #fff; 
                    }
                }
                &:hover{
                    background: #ffb400; 
                    color: #fff;
                }
            }
        }
    }
    .contact-form{
        form{
            width: 80%;
            margin: auto;
            @media screen and(max-width:768px) {
                width: 100%;
            }
            input{
                background-color: #fff;
                border: 1px solid #ddd;
                width: 100%;
                color: #666;
                padding: 10px 20px;
                border-radius: 30px;
                &:focus{
                    border: 1px solid #ffb300ad;
                    outline: none;
                }
            }
            textarea{
                margin-top: 40px;
                background-color: #fff;
                border: 1px solid #ddd;
                color: #666;
                width: 100%;
                padding: 12px 26px;
                height: 200px;
                overflow: hidden;
                border-radius: 30px;
                outline: none!important;
                transition: .3s;
                &:focus{
                    border: 1px solid #ffb300ad;
                    outline: none;
                }

            }
            button{
                width: auto !important;
                display: flex !important;
                align-items: center !important;
            }
        }
    }
}